# Delphi local files (user-specific info)
*.local
*.identcache
*.projdata
*.tvsconfig
*.dsk

# Delphi history and backups
__history/
__recovery/
*.~*

# Castalia statistics file (since XE7 Castalia is distributed with Delphi)
*.stat

# Boss dependency manager vendor folder https://github.com/HashLoad/boss
modules/
/Levels_Test
/temp
/资料
/BoxMan.ini
/boxman.xsb
/*.bak
/*.dcu
/*.log
/*.db
/Skins/mySkin_S.bmp
/Skins/mySkin_B.bmp
/Skins/mySkin_M.bmp
/Skins/mySkin_Q.bmp
/Skins/mySkin_R.bmp
/Image/EditorHelp.pas
/Image/EditorHelp.dcu
/Image/EditorHelp.ddp
/Image/EditorHelp.dfm
